.profile__add-button {
    width: 150px;
    height: 50px;
    background: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #ffffff;
    right: 0;
}